node_modules
dist
build
.expo
.next
.env
.env.local
.env.*.local
.env.vercel.prod
.env.vercel.pull
.vercel
*.log
.logs/
.DS_Store
coverage
.turbo
artifacts/
.pnpm-store/
*.zip
test-results/
playwright-report/
out/
tsconfig.tsbuildinfo
