{
  "openapi": "3.0.0",
  "info": { "title": "Kiteprop API", "version": "1.0" },
  "servers": [{ "url": "https://api.kiteprop.com/v1" }],
  "paths": {
    "/leads": {
      "post": {
        "summary": "Crear lead/consulta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "listing_id"],
                "properties": {
                  "email": { "type": "string" },
                  "name": { "type": "string" },
                  "phone": { "type": "string" },
                  "message": { "type": "string" },
                  "listing_id": { "type": "string" }
                }
              }
            }
          }
        }
      }
    },
    "/contactos": {
      "post": {
        "summary": "Crear contacto",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": { "type": "string" },
                  "nombre": { "type": "string" },
                  "telefono": { "type": "string" }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "security": [{ "apiKey": [] }]
  }
}
